In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

n_zone_max = 17
plt.style.use('ggplot')
pd.options.display.max_rows = 5

In [12]:
label_file_fullpath =  r'E:\Juyue\Kaggle_Data\stage1_labels.csv'
unsorted_df = pd.read_csv(label_file_fullpath)

In [22]:
unsorted_df.head

<bound method NDFrame.head of                                             Id  Probability
0       00360f79fd6e02781457eda48f85da90_Zone1            0
1      00360f79fd6e02781457eda48f85da90_Zone10            0
...                                        ...          ...
19497   ffefec0cd4e1e2c3fe64bb93f082efdd_Zone8            0
19498   ffefec0cd4e1e2c3fe64bb93f082efdd_Zone9            1

[19499 rows x 2 columns]>

In [34]:
n_zone_max = 17
s = list(range(0,len(unsorted_df),n_zone_max ))
obs = unsorted_df.loc[s,'Id'].str.split('_')
scan_ID = [x[0] for x in obs]

In [41]:
columns = sorted(['Zone' + str(i + 1) for i in range(n_zone_max)])

In [43]:
df = pd.DataFrame(index = scan_ID, columns = columns)
df.head

<bound method NDFrame.head of                                  Zone1 Zone10 Zone11 Zone12 Zone13 Zone14  \
00360f79fd6e02781457eda48f85da90   NaN    NaN    NaN    NaN    NaN    NaN
0043db5e8c819bffc15261b1f1ac5e42   NaN    NaN    NaN    NaN    NaN    NaN
...                                ...    ...    ...    ...    ...    ...
ff9c9b7de5dacc8315e2bbc18c451c49   NaN    NaN    NaN    NaN    NaN    NaN
ffefec0cd4e1e2c3fe64bb93f082efdd   NaN    NaN    NaN    NaN    NaN    NaN

                                 Zone15 Zone16 Zone17 Zone2 Zone3 Zone4 Zone5  \
00360f79fd6e02781457eda48f85da90    NaN    NaN    NaN   NaN   NaN   NaN   NaN
0043db5e8c819bffc15261b1f1ac5e42    NaN    NaN    NaN   NaN   NaN   NaN   NaN
...                                 ...    ...    ...   ...   ...   ...   ...
ff9c9b7de5dacc8315e2bbc18c451c49    NaN    NaN    NaN   NaN   NaN   NaN   NaN
ffefec0cd4e1e2c3fe64bb93f082efdd    NaN    NaN    NaN   NaN   NaN   NaN   NaN

                                 Zone6 Zone7 Zone8 Zone9
00360f79fd6e02781457eda48f85da90   NaN   NaN   NaN   NaN
0043db5e8c819bffc15261b1f1ac5e42   NaN   NaN   NaN   NaN
...                                ...   ...   ...   ...
ff9c9b7de5dacc8315e2bbc18c451c49   NaN   NaN   NaN   NaN
ffefec0cd4e1e2c3fe64bb93f082efdd   NaN   NaN   NaN   NaN

[1147 rows x 17 columns]>

In [51]:
# put data into it.
for i in range(n_zone_max):
    s = range(i, len(unsorted_df), n_zone_max)
    df.iloc[:,i] = unsorted_df.iloc[s, 1].values

In [52]:
df

,Zone1,Zone10,Zone11,Zone12,Zone13,Zone14,Zone15,Zone16,Zone17,Zone2,Zone3,Zone4,Zone5,Zone6,Zone7,Zone8,Zone9
00360f79fd6e02781457eda48f85da90,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
0043db5e8c819bffc15261b1f1ac5e42,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ff9c9b7de5dacc8315e2bbc18c451c49,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
ffefec0cd4e1e2c3fe64bb93f082efdd,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1

In [66]:
df.loc['0043db5e8c819bffc15261b1f1ac5e42','Zone16']

0